services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: products_db
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data

  redis:
    image: redis:7
    ports:
      - "6379:6379"

  web:
    build: ./backend
    env_file:
      - ./backend/.env.example
    depends_on:
      - db
      - redis
    ports:
      - "8000:8000"
    volumes:
      - ./backend/app:/app/app

  worker:
    build: ./backend
    command: ["celery", "-A", "app.tasks.celery_app", "worker", "--loglevel=info"]
    env_file:
      - ./backend/.env.example
    depends_on:
      - db
      - redis
    volumes:
      - ./backend/app:/app/app

volumes:
  pgdata:
